name: Lint

on:
    # Trigger the workflow on push or pull request,
    # but only for the main branch
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    local-lint-l1:
        name: Run [LOCAL] ESLint on L1 Data Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: local/l1-data-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx

    local-lint-l2:
        name: Run [LOCAL] ESLint on L2 Function Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: local/l2-function-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx

    state-lint-l1:
        name: Run [STATE] ESLint on L1 Data Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: state/l1-data-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx

    state-lint-l2:
        name: Run [STATE] ESLint on L2 Function Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: state/l2-function-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx

    national-lint-l1:
        name: Run [NATIONAL] ESLint on L1 Data Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: national/l1-data-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx

    national-lint-l2:
        name: Run [NATIONAL] ESLint on L2 Function Layer
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: national/l2-function-layer

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Set up Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16.16.0

            # ESLint and Prettier must be in `package.json`
            - name: Install Node.js dependencies
              run: npm ci

            - name: Run linters
              run: npx eslint . --ext .js,.jsx
